*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}


.navbar{
    background-color: #fff;
    padding: 15px 50px;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    top: 0;
}


.logo{
    display: inline-block;
}

.logo a{
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}


.nav-links{
    display: inline-block;
    margin-left: 100px;    
}

.nav-links li{
    display: inline-block;
    margin: 0px 15px;
    list-style: none;
}

.nav-links a{
    color: #666;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #007bff;
}


.cta-button{
    float: right;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: backgrounnd-color 0.3s;
}

.btn:hover{
    background-color: #024ea0;
}

.hero{
    background-color: #f8f9fa;
    padding: 150px 50px 50px;
    text-align: center;
}

.hero-content{
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.hero h1{
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

.hero-buttons{
    margin-top: 30px;
}

.btn.primary{
    background-color: #007bff;
    margin-right: 15px;
}

.btn.secondary{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.btn.secondary:hover{
    background-color: #007bff;
}

.hero-image{
    margin-top: 40px;
}

.hero-image img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}